@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}

html h1,
body h1 {
  font-size: 20px;
  letter-spacing: 4px;
}

hr {
    border: 0;
    width: 100%;
    color: black;
    background-color: black;
    display:block;
    height: 1px;
}

.container {
  max-width: 1170px;
  min-width: 320px;
  text-align: center;
  margin: 50px auto;
  padding: auto;
}

img {
  max-width: 50px;
  margin: 10px;
}